/* FONTS ---------------------------------------- */

@font-face {
	font-family: 'sbw';
	src: url('../fonts/sbw-r.eot');
	src: url('../fonts/sbw-r.eot?#iefix') format('embedded-opentype'),
	url('../fonts/sbw-r.woff2') format('woff2'),
	url('../fonts/sbw-r.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: 'sbw';
	src: url('../fonts/sbw-b.eot');
	src: url('../fonts/sbw-b.eot?#iefix') format('embedded-opentype'),
	url('../fonts/sbw-b.woff2') format('woff2'),
	url('../fonts/sbw-b.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
}

/* GLOBAL ---------------------------------------- */

html, body {
	height: 100%;
	margin: 0 auto;
	padding: 0;
	background: #FFFFFF;
}

body {
	font-family: 'sbw', -apple-system, BlinkMacSystemFont, "Helvetica Neue", helvetica, Roboto, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif;
	font-size: 1.25em;
	line-height: 1.25em;
	color: #000000;
	-webkit-font-smoothing: antialiased;
	font-feature-settings:'onum' on;
}

/* GRID ---------------------------------------- */

.flex-grid {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.space {
	padding: 3em;
}

.space-logo {
	padding: 1.5em 3em 0 3em;
}

.space-intro {
	padding: 3em 3em 0 3em;
}

.col {
	flex: 1;
}

.col-2 {
	flex: 2;
}

.col-3 {
	flex: 3;
}

/* COLORS ---------------------------------------- */

.black {
	background-color: #000000;
}

.green {
	background-color: #4D693C;
}

.navy {
	background-color: #0E2B46;
}

.grey-1 {
	background-color: #B7B0A8;
}

.grey-2 {
	background-color: #E7E7E2;
}

.white {
	background-color: #FFFFFF;
}

.light-text {
	color: #FFFFFF;
}

.dark-text {
	color: #000000;
}

.grey-text {
	color: #8A8A8A;
}

/* HOME ---------------------------------------- */

.hero {
	height: 80%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: #000000;
	color: #FFFFFF;
}

.look-closer {
	filter: blur(5px);
}

.look-closer:hover {
	filter: blur(0px);
	transition: 300ms ease 150ms;
	cursor: help;
}

.box {
	min-height: 20em;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.box h3:after {
	content: ' \2192';
}

.box h3:hover::after {
	color: pink;
}

/* TYPOGRAPHY ---------------------------------------- */

p {
	margin: 0 auto;
	/*padding: 0 0 1em 0;*/
	color: #4F4F4F;
}

h1 {
	font-size: inherit;
	padding-right: 1em;
}

h3 {
	font-size: inherit;
	padding: 0;
	margin: 0;
}

ul {
	margin: 0 auto;
	padding: .65em 1.25em;
	line-height: 1.625em;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover, a:visited {
	text-decoration: none;
}

.large {
	font-size: 1.200em;
	line-height: 1.250em;
}

/* WORK ---------------------------------------- */

.small-list {
	font-size: 0.800em;
	padding: 0;
	margin: 0;
	list-style-position: inside;
	list-style-type: decimal-leading-zero;
	line-height: 2em;
	color: #4F4F4F;
}

.small-list a {
	color: #000000;
}

.small-list a:hover {
	color: #000000;
}

.small-list a:visited {
	color: #000000;
}

.small-list li:after {
	content: ' \2192';
	color: #FFFFFF;
}

.small-list li:hover::after {
	content: ' \2192';
	color: #000;
	transition: 400ms ease;
}

.item {
	padding: 0em 0 3em 0;
	margin: 0 auto;
}

/* ABOUT PAGE ---------------------------------------- */

.toc {
	line-height: 3em;
	list-style-position: inside;
	list-style-type: decimal-leading-zero;

}

.toc p {
	color: #8A8A8A;
}

.toc h3, .toc p {
	font-size: 1.200em;
	line-height: 1.300em;
}

.toc li:before {
	border-top: 1px solid #2F2F2F;
}

.toc ol {
	margin: 0;
	padding: 0;
	border-top: 1px solid #2F2F2F;
}

.toc li {
	border-bottom: 1px solid #2F2F2F;
	color: #8A8A8A;
}

.toc a {
	color: #FFFFFF;
	text-decoration: none;
}

.toc a:hover {
	color: #FFFFFF;
	text-decoration: none;
}

/* ACTIVITY PAGE ---------------------------------------- */

.item figure {
	margin: 0 auto;
	padding: 0;
	width: 100%;
	text-align: center;
	background-color: #E7E7E2;
}

.item img {
	max-width: 50%;
	padding: 40px;
	margin: 0 auto;
}

/* ARTICLE PAGE ---------------------------------------- */

.post {
	background-color: #B7B0A8;
	padding-top: 6em;
	min-height: 100%;
}

.sheet {
	background-color: #FFFFFF;
	width: 75%;
}

.column {
	margin: 0 auto;
	max-width: 31.250em;
	text-align: center;
	padding: 3em 0;
}

time {
	font-size: 0.875em;
	color: #8A8A8A;
}

.column h3 {
	margin-bottom: 3em;
}

p {
	text-align: left;
}

/* NAVIGATION ---------------------------------------- */

/*nav {
	padding: 10px;
	margin: 0;
}

.logo {
	position: fixed;
	top: 2em;
	left: 3em;
}*/

/* FOOTER ---------------------------------------- */

footer {
	font-size: 0.800em;
	background-color: #FFFFFF;
}

footer .col {
	padding: 3em;
}

footer p {
	color: #000;
}

/* MOBILE ---------------------------------------- */

@media (max-width: 400px) {
	.flex-grid {
		display: block;
		}
	.col {
		padding: 1em;
	}
	.logo {
		display: none;
	}
	.hero {
		height: initial;
		display: inline-block;
		padding: 4em 0;
	}
	h1 {
		padding-right: 0;
	}
	.box {
		min-height: 4em;
	}
	footer p {
		text-align: center;
	}
}
