/* FONTS ---------------------------------------- */

@font-face {
	font-family: 'sbw';
	src: url('../fonts/sbw-r.eot');
	src: url('../fonts/sbw-r.eot?#iefix') format('embedded-opentype'),
	url('../fonts/sbw-r.woff2') format('woff2'),
	url('../fonts/sbw-r.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: 'sbw';
	src: url('../fonts/sbw-b.eot');
	src: url('../fonts/sbw-b.eot?#iefix') format('embedded-opentype'),
	url('../fonts/sbw-b.woff2') format('woff2'),
	url('../fonts/sbw-b.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
}

/* GLOBAL ---------------------------------------- */

html, body {

	margin: 0 auto;
	padding: 0;
	background: #FFFFFF;
}

body {
	font-family: 'sbw', -apple-system, BlinkMacSystemFont, "Helvetica Neue", helvetica, Roboto, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif;
	font-size: 1.25em;
	line-height: 1.25em;
	color: #000000;
	-webkit-font-smoothing: antialiased;
	font-feature-settings:'onum' on;
}

/* GRID ---------------------------------------- */

.flex-grid {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.col {
	flex: 1;
}

.col-2 {
	flex: 2;
}

.col-3 {
	flex: 3;
}

.space {
	padding: 3em;
}

/* COLORS ---------------------------------------- */

.black {
	background-color: #000000;
}

.green {
	background-color: #4D693C;
}

.navy {
	background-color: #0E2B46;
}

.grey-1 {
	background-color: #B7B0A8;
}

.grey-2 {
	background-color: #E7E7E2;
}

.white {
	background-color: #FFFFFF;
}

.light-text {
	color: #FFFFFF;
}

.dark-text {
	color: #000000;
}

.grey-text {
	color: #8A8A8A;
}

/* HOME ---------------------------------------- */

.space-logo {
	padding: 1.5em 3em 0 3em;
}

.hero {
	min-height: 32em;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: #000000;
	color: #FFFFFF;
}

.look-closer {
	filter: blur(5px);
}

.look-closer:hover {
	filter: blur(0px);
	transition: 300ms ease 150ms;
	cursor: help;
}

.box {
	min-height: 20em;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.box h3:after {
	content: ' \2192';
}

.box h3:hover::after {
	color: pink;
}

/* TYPOGRAPHY ---------------------------------------- */

p {
	margin: 0 auto;
	/*padding: 0 0 1em 0;*/
	color: #4F4F4F;
}

h1 {
	font-size: inherit;
	padding-right: 1em;
}

h3 {
	font-size: inherit;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover, a:visited {
	text-decoration: none;
}

.large {
	font-size: 1.200em;
	line-height: 1.250em;
}

/* WORK + ACTIVITY PAGES ---------------------------------------- */

ul {
	margin: 0 auto;
	padding: .65em 1.25em;
	line-height: 1.625em;
}

.small-list {
	font-size: 0.800em;
	padding: 0;
	margin: 0;
	list-style-position: inside;
	list-style-type: decimal-leading-zero;
	line-height: 2em;
	color: #4F4F4F;
}

.small-list a {
	color: #000000;
}

.small-list a:hover {
	color: #000000;
}

.small-list a:visited {
	color: #000000;
}

.small-list li:after {
	content: ' \2192';
	color: #FFFFFF;
}

.small-list li:hover::after {
	content: ' \2192';
	color: #000;
	transition: 400ms ease;
}

.item {
	padding: 0em 0 3em 0;
	margin: 0 auto;
}

.item-list ul {
	color: #4F4F4F;
}

/* FOOTER ---------------------------------------- */

footer {
	font-size: 0.8em;
}

footer .col {
	padding: 4em;
}

footer p {
	color: #000;
}

/* MOBILE ---------------------------------------- */

@media (max-width: 600px) {
	.flex-grid {
		display: block;
		}
	.col, .col-2, .col-3 {
		padding: 1em;
	}
	.logo {
		display: none;
	}
	.hero {
		min-height: 8em;
		display: block;
		padding: 1em 1em;
		text-align: left;
		font-size: 1.25em;
		line-height: 1.25em;
	}
	h1 {
		padding: 0;
		margin: 0;
	}
	.look-closer {
		filter: blur(0px);
		color: #8A8A8A;
	}
	.box {
		min-height: 6em;
		display: block;
		text-align: left;
	}
	.item-list {
		/*background-color: #E7E7E2;*/
		font-size: 0.900em;
	}
	.large {
		font-size: 1em;
	}
	.item {
		padding-bottom: 2em;
	}
	footer {
		display: block;
	}
	footer .col {
		padding: 1em;
	}
}
